# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Backend
backend/build/
backend/.gradle/
backend/out/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local
